body, html {
  margin:0;
  padding: 0;
  height:100%;
}

.main {
  width:80%;
  min-height:calc(100% - 146px); /*display height minus nav and footer*/
  margin:0 5%;
  padding:2.5% 5%;
  background-color: #bbbbbb;
}

footer{
  position: fixed;
  bottom:0;
  background-color:#333;
  min-height:100px;
  text-align: center;
  color: white;
  width:100%
}


nav {
  background-color: #333;
  display: block;
  height:46px;
  font-size: 16px;
  color: white;
}

nav a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
  color: white;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown {
  float: right;
  text-align:right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  right:0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  width:100%;
  text-align:center;
  padding: 14px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.error {
  background-color:Red;
  width:100%;
  padding:10px;
}