<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <script>
        /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("drop").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn') && !e.target.matches('input')  && !e.target.matches('.dropdown-content') ) {
              const myDropdown = document.getElementById("drop");
              if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
    </script>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    {% if session['username'] %}
        <div class="dropdown">
            <button onclick="myFunction()" class=dropbtn>{{ session['username'] }}</button>
            <div id="drop" class="dropdown-content">
                <a href={{ url_for('logout') }}>Logout</a>
            </div>
        </div>
    {% else %}
        <div class="dropdown">
            <button onclick="myFunction()" class=dropbtn>Login</button>
            <div id="drop" class="dropdown-content">
                <form action="/login" method="post">
                    <p><input type=text name=username>
                    <p><input type=submit value=Login>
                </form>
            </div>
        </div>
    {% endif %}
</nav>
{% block body %}
{% endblock %}
<footer class="footer">
    <p>© 2016 Your Name Here</p>
</footer>
</body>
</html>
