{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1>What is Genten Studios?</h1>
    <p class="lead">Genten Studios is a group of creators who are passionate about creating games. All of our games
        follow a common pattern that the program itself does not provide any content. Content is defined by modules
        written in Lua which the game does the heavy lifting turning it into something playable. In the long-term our
        goal is to create Quartz Engine to be the core of the games we create with this design.</p>
    <h2>Project Phoenix</h2>
    <p>Our project coded "Phoenix" is the first game that we are developing with this design principle in mind. Phoenix
        is an open world sandbox game where the player can manipulate anything in a voxel world around them. Check out
        our source code <a href="https://github.com/GentenStudios/Phoenix">here</a>.</p>
    <h2>Quartz Engine</h2>
    <p>Once Project Phoenix has hit an alpha state, the development of Quartz Engine is planned to begin. Quartz Engine

        will serve as a common library shared between Phoenix and future games we develop following the same design
        pattern of content served by Lua modules.</p>
</div>
{% endblock %}
